<div class="col-8">
  <h2>about.</h2>
  <p>
  While living and working in New York City, I wondered if technology could help make my commute with the notoriously unreliable Metropolitan Transit Authority, a bit more predictable. Luckily, MTA's data is more transparent and available then their busses are.
  </p>
  <p>
  Bobby is a tiny mobile-first web application that tries to make MTA's realtime data more accessible. By using the bus stop IDs printed at every bus stop, Bobby can skip trying to pinpoint your location using GPS, cell towers, or WiFi. This means saving time, battery life, and privacy.
  </p>
  <p>
  Bobby is extremely easy to use, just enter in the bus stop ID of your bus stop and you'll be able to see when the next busses will be approaching. To update the data, just refresh the page. Simple as that.
  </p>
</div>
