<div class="col-8">
  <H2>contact.</H2>
  <div>
    <p>
    Want to say 'Hello?'
    </p>
  </div>
  <div>
    <p>
    Email: <a target="_blank" rel="noopener noreferrer" href="mailto:thomascoutz@gmail.com">thomascountz@gmail.com</a>
    </p>
  </div>
  </p>
</div>
