<div class="col-8">
  <H2>bobby.</H2>
  <div>
    <%= form_tag(bobby_search_path, :method => "get") do %>
      <%= label_tag(:stop_id, "") %>
      <%= text_field_tag(:stop_id, "", id: "search-box", placeholder: "Stop ID", type: "number", pattern: "[0-9]*") %>
      <%= submit_tag("Submit", id: "search-button") %>
    <% end %>
  </div>
</div>
