<div class="col-8">
  <div>
  <h1 class="stop-name">Greenpoint & Manhattan</h1>
    <div class="row route">
      <h2 class="route-name"> <%= image_tag("bobby_logo.svg", size: 25) %> B32</h2>
      <div class="row arrival">
        <div class="distance">
          3 mins
        </div>
      </div>
      <div class="row arrival">
        <div class="distance">
          52 mins
        </div>
      </div>
      <div class="row arrival">
        <div class="distance">
          54 mins
        </div>
      </div>
    </div>
    <div class="row route">
      <h2 class="route-name"> <%= image_tag("bobby_logo.svg", size: 25) %> B62</h2>
      <div class="row arrival">
        <div class="distance">
          4 mins
        </div>
      </div>
      <div class="row arrival">
        <div class="distance">
          5.9 miles
        </div>
      </div>
      <div class="row arrival">
        <div class="distance">
          6.3 miles
        </div>
      </div>
    </div>
  </div>
</div>
