<div class="col-8">
  <div>
    <h1 class="stop-name"><%= @results.stop_name %></h1>
    <% @results.routes.each do |line_name, arrivals| %>
      <div class="row route">
        <h2 class="route-name"> <%= image_tag("bobby_logo.svg", size: 25) %> <%= line_name %></h2>
        <% arrivals.each do |arrival| %>
          <div class="row arrival">
            <div class="distance">
              <%= arrival.proximity_text %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
