.search-box {
  width: 100%;
  margin: 8px 0;
  padding: 1px 0;
  font-size: 2em;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #cacaca;
  box-shadow: none;
}

.search-button {
  width: 100%;
  font-size: 2em;
  margin: 15px 0;
  border: 2px solid #998fc7;
  background-color: #998fc7;
  border-radius: 25px;
  color: #f2f5f7;
  &:hover {
    background-color: #f2f5f7;
    color: #998fc7;
  }
}
