<div class="">
  <div class="">
    <%= link_to("about.", about_path, {class: ""}) %>
  </div>
  <div class="">
    <%= link_to("contact.", contact_path, {class: ""}) %>
  </div>
  <div class="">
    <a class="" target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/thomascountz">twitter.</a>
  </div>
</div>

