<div class="row footer">
  <div class="col-3-sm">
    <%= link_to("about.", about_path) %>
  </div>
  <div class="col-3-sm">
    <%= link_to("contact.", contact_path) %>
  </div>
  <div class="col-3-sm">
    <a target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/thomascountz">twitter.</a>
  </div>
</div>

