<div class="footer col-container">
  <div class="col align-center">
    <a class="coral text-xl" href="">about.</a>
  </div>
  <div class="col align-center">
    <a class="coral text-xl" href="">contact.</a>
  </div>
  <div class="col align-center">
    <a class="coral text-xl" target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/thomascountz">twitter.</a>
  </div>
</div>

